* {
  margin: 0;
  padding: 0;
  font-family: "Open sans";
}

body {
  background-image: url(../assets/bg.jpg);
  background-color: #759abc;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

#logo {
  /*imagem do divine oracle*/
  width: 13vw;
  padding: 8px 24px;
  justify-content: flex-start;
}

header {
  display: flex;
  flex-direction: row;
  background-color: #3d5c78;
  height: 6.3vw;
  justify-content: space-between;
}

nav {
  /*todo o navigation*/
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation {
  /*navigation com home e about*/
  font-size: 17px;
  font-weight: bold;
  text-decoration: none;
  color: white;
  padding: 20px;
}

.bi-search {
  /*lupa de pesquisa*/
  color: white;
  padding-top: 10px;
}

#search {
  /*input de pesquisa*/
  background-color: transparent;
  border: none;
  outline: none;
  color: white;
  font-size: 14px;
}

.search-input {
  /*classe div input de pesquisa*/
  position: relative;
  padding: 10px;
  margin: 22px;
  border: 1px solid white;
  border-radius: 10px;
}

.fa-solid {
  margin-right: 10px;
  color: white;
}

#search::placeholder {
  color: white;
  padding: 0px 0px 80px 0px;
}

main {
  display: grid;
  grid-template-columns: 0.4fr 1fr;
  grid-template-areas: "filters-and-order cards-container";
  margin-top: 40px;
  margin-bottom: 40px;
}

#filters-and-order {
  /* background-color: #fff;
  border: 1px solid #fff;
  width:300px;
  height: 300px;  */
  margin-left: 25px;
}

#filters-and-order form label {
  display: flex;
  align-items: center;
}

#filters-and-order form label input[type="checkbox"] {
  order: -1;
  margin-right: 8px;
}

.filter {
  margin-bottom: 10px;
}

.filter-title {
  display: block;
  font-weight: bold;
}

.filter-options {
  display: none;
  padding: 10px;
  margin-top: 5px;
}

.filter.active .filter-options {
  display: block;
}

#order-select {
  display: inline-block;
  width: 12vw;
  height: 2.5vw;
  border: none;
  border-radius: 10px;
  padding: 6px;
  margin-bottom: 20px;
  box-sizing: border-box;
  font-weight: bold;
  font-size: 15px;
}

option {
  font-weight: bold;
}
/* Ajuste para quando as opções estiverem abertas */
.select:active,
.select:focus {
  position: relative;
  z-index: 1;
}

/* Espaçamento entre selects */
form {
  margin-bottom: 20px;
}

.flip-container {
  display: inline-block;
  width: 220px;
  height: 320px;
  perspective: 1000px;
  margin-bottom: 35px;
}

.flipper {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-container:hover .flipper {
  transform: rotateY(180deg);
}

.cards-front,
.cards-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.cards-back {
  background-color: white;
  background-image: url(../assets/card-back.png);
  background-size: 100%;
  background-repeat: no-repeat;
  width: 100%;
  height: 23.3vw;
  margin-right: 21vw;
  border: 5px solid #d9d2c4;
  border-radius: 10px;
  transform: rotateY(180deg);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#cards-container {
  display: grid;
  grid-template-columns: repeat(3, 220px);
  grid-gap: 50px;
}

#cards-container img {
  display: flex;
  width: 100%;
  height: auto;
  border: 5px solid white;
  border-radius: 10px;
  place-items: center;
  align-items: center;
}

.card-name {
  display: flex;
  font-size: 25px;
  font-weight: bold;
  color: #3d5c78;
  justify-content: center;
  align-items: center;
  white-space: pre-line;
  text-align: center;
}

.card-info {
  display: flex;
  font-size: 25px;
  font-weight: bold;
  color: #3d5c78;
  justify-content: center;
  align-items: center;
  padding-top: 7%;
  margin: 0%;
  white-space: pre-line;
  text-align: center;
}

.card-button {
  background-color: #5885ac;
  color: white;
  border: 5px solid #5885ac;
  border-radius: 20px;
  font-size: 15px;
  font-weight: bold;
  width: 10vw;
  height: 3vw;
  margin-top: 10%;
  margin-left: 15%;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.6);
  cursor: pointer;
}

.card-button:hover {
  filter: brightness(0.8);
}

.close-modal {
  justify-self: end;
  background-color: transparent;
  color: #cfc9c9;
  border: none;
  height: 10px;
  font-size: 20px;
  cursor: pointer;
  opacity: 0.9;
  grid-area: close-modal;
}

.close-modal:hover {
  opacity: 1;
}

#fade {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 5;
}

#modal {
  display: grid;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 45vw;
  max-width: 90%;
  height: 27vw;
  background-color: rgba(61, 92, 120, 0.9);
  color: #fff;
  padding: 1.2rem 1.5rem 0.6rem 1.2rem;
  border-radius: 0.5rem;
  z-index: 10;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.2fr 0.2fr 1fr;
  grid-template-areas:
    "close-modal close-modal close-modal"
    "modal-header-1 modal-header modal-header"
    "img-modal info-card info-card";
}

.info-card {
  display: grid;
  width: 29vw;
  height: 20vw;
  overflow: auto;
  padding: 12px 10px 10px;
  justify-self: center;
  align-self: center;
  grid-area: info-card;
}

.info-card::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: #fff;
  border-radius: 10px;
}

.meaning-up::before {
  content: "Meaning up: ";
  font-weight: bold;
  font-size: 18px;
  color: #fff;
}
.meaning-rev::before {
  content: "Meaning reverse: ";
  font-weight: bold;
  font-size: 18px;
  color: #fff;
}

.desc::before {
  content: "Description: ";
  font-weight: bold;
  font-size: 18px;
  color: #fff;
}

.meaning-up,
.meaning-rev,
.desc {
  margin-bottom: 0.5rem;
  font-size: 17.5px;
  text-align: justify;
}

#fade,
#modal {
  transition: opacity 0.3s ease-in-out;
  opacity: 1;
  pointer-events: all;
}

.img-modal {
  display: grid;
  width: 90%;
  height: 97%;
  border: 5px solid white;
  border-radius: 10px;
  justify-self: center;
  align-self: center;
  grid-area: img-modal;
}

.modal-header {
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  grid-area: modal-header;
  text-align: center;
}

#modal.hide,
#fade.hide {
  opacity: 0;
  pointer-events: none;
}

#modal.hide {
  top: 0;
}

footer {
  bottom: 0;
  /* position: fixed; */
  background-color: #3d5c78;
  font-size: 15px;
  text-align: center;
  color: white;
  height: 6.5vw;
  width: 100%;
}

footer p {
  /* texto no footer */
  padding-top: 10px;
}

.icon-github {
  color: white;
  display: flex;
  justify-content: space-around;
  padding: 8px 500px 0px 500px;
}

.bi-github {
  color: white;
}

